* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Classic';
    src: url('./font/Classic-Regular.otf') format('opentype');
}

.abril {
    font-family: 'Abril Fatface', cursive;
    color: #6D5959;
}

.classic {
    font-family: 'Classic';
    font-size: 22px;
    color: #6D5959;
}

body {
    background-color: #F6F0EB;
    font-family: 'Montserrat', sans-serif;
}

/* nav css */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5; /*temporaire demander à florian*/
}

#nav-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    width: 100%;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

#nav-links {
    display: flex;
    gap: 20px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #E7D8C9;
    border-radius: 12px;
    box-shadow: 3px 3px 8px #C0B0A1;
    padding: 10px;
}

.submenu a {
    display: block;
    padding: 5px 12px;
    margin: 2px;
    text-decoration: none;
    color: #6D5959;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    font-size: medium;
}

.submenu a:hover {
    background-color: #D3C2B0;
    font-weight: bold;
    font-family: 'Classic';
    font-size: medium;
}

.menu:hover .submenu {
    display: block;
}

#nav-responsive {
    display: none;
}

/* page 1 css */

#presentation p, #projet p, footer p {
    color: #4B3F3F;
}

/* section 1 */

#presentation {
    height: 100vh;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    gap: 5%;
    padding-bottom: 50px;
}

#presentation img {
    display: none;
}

#presentation h2 {
    font-size: 30px;
}

#presentation-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 40%;
    margin-bottom: 4%;
    width: 50%;
}

#presentation a {
    background-color: #E7D8C9;
    color: #4B3F3F;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#presentation a:hover {
    font-weight: bold;
}

/* section 2 css */

#projets {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projets h2 {    
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#projets p {
    margin-bottom: 25px;
}

#projets-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}    

.projet-card img {
    border-radius: 10px;
    width: 500px;
}

#image {
    position: relative;
    z-index: 1;
}

.hidden {
    background-color: black;
    width: 500px;
    height: 99%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    opacity: 50%;
    display: none;
}

#image a {
    position: absolute;
    top: 110px;
    left: 190px;
    text-decoration: none;
    color:#E7D8C9;
    font-size: 25px;
    font-family: 'Classic';
    background-color: #6D5959;
    padding: 7px 13px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    display: none;
}

#image:hover .hidden, #image:hover a {
    display: block;
}

#image a:hover {
    font-weight: bold;
}

/* page 2 css */

/* section 1 */

#cv {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 0 0 16%;
    /* width: 1000px; */
}

#cv img {
    height: 200px;
    transform: scale(2);
}

.card-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 25px;
    gap: 50px;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    transition: all 0.2s ease-in-out;
}

.card-exp:hover {
    box-shadow: 8px 8px 12px #EDE4DC;
}

.pair:hover {
    box-shadow: 8px 8px 12px #D5CBC1;
}

.impair {
    color: #4B3F3F;
}

.pair {
    background-color: #6D5959;
    color: #F6F0EB;
}

.white {
    color: white;
}

.card-exp .exp-left p {
    margin: 10px 0;
}


/* section 2 */

#education {
    background-color: #6D5959;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-educ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 25px;
    gap: 40px;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    transition: all 0.2s ease-in-out;
}

.card-educ:hover {
    box-shadow: 8px 8px 12px #4B3F3F;
}

.card-educ .educ-left {
    width: 90%;
}

.brown {
    background-color: #E7D8C9;
}

.card-educ .educ-left p {
    margin: 10px 0;
}

.card-educ .educ-paragraph {
    width: 100%;
}

#education img {
    height: 200px;
    transform: scale(2);
}

#education p {
    color: #4B3F3F;
}

/* section 3 css */

#competences {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#competences img {
    height: 75px;
    margin: 15px 25px;
    transition: all 0.2s ease-in-out;
}

#competences img:hover {
    transform: scale(1.15);
}

#competences a {
    background-color: #6D5959;
    color: #F6F0EB;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(460px);
    transition: all 0.2s ease-in-out;
}

#competences a:hover {
    font-weight: bold;
}

/* page 3 css */

#projet {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 25px;
    margin: 50px 0;
}


.step-text h2 {
    text-align: center;
}

.step img {
    border-radius: 15px;
    width: 650px;
}

#projet a {
    background-color: #6D5959;
    color: #F6F0EB;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 30px;
    margin-bottom: 50px;
}

#projet a:hover {
    font-weight: bold;
}

/* up button css */

#up {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E7D8C9;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#up:hover {
    transform: scale(1.2);
}

/* footer css */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    height: 200px;
}

#top {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

footer img {
    width: 40px;
    transition: all 0.2s ease-in-out;
}

#footer-links {
    display: flex;
    gap: 20px;
}

.bg-white {
    background-color: white;
} 

.bg-light-brown {
    background-color: #F6F0EB;
}


footer img:hover {
    transform: scale(1.2);
}

/* responsive css */

@media only screen and (max-width: 480px) {

    nav {
        width: 370px;
        font-size: medium;
        flex-direction: column;
        height: 10%;
    }

    #nav-top {
        flex-direction: row;
        gap: 25px;
    }
    

    .menu {
        display: none;
    }

    #nav-links {
        flex-direction: column;
        gap: 5px;
    }

    #nav-responsive {
        display: flex;
        font-size: large;
        width: 100%;
        justify-content: space-evenly;
    }

    #nav-responsive a {
        color:#4B3F3F;
    }

    /* page accueil */

    /* section 1 */

    #presentation {
        flex-direction: column;
        width: auto;
        height:auto;
        padding: 50px;
        background-color: white;
        background-image: none;
        margin-top: 18%;
    }
    
    #presentation p {
        font-size: 17px;

    }
    
    #presentation img {
        display: block;
        border-radius: 25px;
        width: 100%;
        margin-bottom: 40px;
    }
    
    #presentation-right {
        width: 100%;
        margin: 0;
    }

    #presentation a {
        font-size: 22px;
        display: block;
        position: static;
        margin-top: 15px;
    }


    /* section 2 */

    #projets {
        flex-direction: column;
        width: auto;
        height:auto;
        padding: 30px 0;
    }

    #projets h2 {
        margin: 15px 0 0 0;
    }
    
    #projets p {
        margin-bottom: 15px;
    }

    .projet-card {
        padding: 0 30px;
        margin-top: 35px;
    }    

    #projets img {
        width: 100%;
        height: 100%;
    }

    #image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #image a {
        font-size: 22px;
        display: block;
        position: static;
        width: 30%;
        margin-top: 20px;
    }

    .hidden {
        opacity: 0%;
    }

    /* page 2 cv */

    #cv h1, #education h1, #competences h1 {
        font-size: 28px;
    }

    #cv p, #education p {
        font-size: 17px;
    }

    /* section 1 */

    #cv {
        width: auto;
        height:auto;
        padding-top: 100px;
    }
    
    #cv .card-exp {
        flex-direction: column;
        gap: 10px;
        width: 79%;
    }

    .card-exp .exp-left {
        width: 100%;
    }

    #align {
       gap: 0;
       margin: 0 0 0 25px;
       width: 85%;
    }

    #align img {
        display: none;
    }

    #competences a {
        transform: translateX(0);
    }


    /* section 2 */

    #education {
        flex-direction: column;
        width: auto;
        height:auto;
    }
    
    #education .card-educ {
        flex-direction: column;
        gap: 10px;
        width: 79%;
    }

    .card-educ .educ-left {
        width: 100%;
    }

    #education h1 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    /* section 3 */

    #competences {
        width: auto;
        height:auto;
    }

    #competences h1 {
        margin: 30px 0 15px 0;
    }

    /* banniere défilante */

    .gallery {
        width: 100%;
        overflow: hidden;
    }
      
    .gallery-content {
        display: flex;
        width: fit-content;
        animation: scroll 20s linear infinite;
    }
      
    #competences img {
        width: 65px;
        height: 65px;
        margin: 15px ;
    }

    #competences a {
        margin: 10px 0 20px 0;
        font-size: 22px;
        padding: 8px 15px;
    }

    /* page 3 projet */

    #projet {
        width: auto;
        height: auto;
    }

    #projet h1 {
        margin-top: 100px;
        font-size: 28px;
    }

    #projet h2 {
        font-size: 25px;
    }

    #projet p {
        font-size: 17px;
    }

    #first-img {
        margin-top: 15px;
    }

    #projet .step {
        flex-direction: column;
        width: 80%;
        margin: 20px 0;
    }

    #projet img {
        width: 105%;
    }

    #projet a {
        margin: 15px;
        margin-bottom: 30px;
        font-size: 22px;
        padding: 8px 15px;
    }

    /* footer */

    footer #top {
        flex-direction: column;
        align-items: center;
    }

    #footer-links {
        margin-top: 10px;
    }

    footer img {
        width: 35px;
    }

    footer #bottom {
        font-size: medium;
        text-align: center;
    }
}

/* animation  */

@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }