* {
    margin: 0;
}

@font-face {
	font-family: 'Classic';
	src: url(‘/font/Classic-Regular.otf’) format(‘otf’)
}

.abril {
    font-family: 'Abril Fatface', cursive;
    color: #6D5959;
}

.classic {
    font-family: 'Classic';
    font-size: 22px;
    color: #6D5959;
}

body {
    background-color: #F6F0EB;
    font-family: 'Montserrat', sans-serif;
}

/* nav css */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

#nav-links {
    display: flex;
    gap: 20px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #E7D8C9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
}

.submenu a {
    display: block;
    padding: 5px 12px;
    margin: 2px;
    text-decoration: none;
    color: #6D5959;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    font-size: medium;
}

.submenu a:hover {
    background-color: #6D5959;
    color: white;
    font-weight: normal;
    font-family: 'Classic';
    font-size: medium;
}

.menu:hover .submenu {
    display: block;
}

/* page 1 css */

/* section 1 */

#moodboard {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#moodboard img {
    border-radius: 25px;
}

/* section 2 */

#presentation {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    gap: 5%;
}

#presentation h2 {
    font-size: 30px;
}

#presentation img {
    border-radius: 25px;
}

#presentation-text {
    margin-left: 5%;
    width: 40%;
}

/* section 3 css */

#projets {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projets h2 {    
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

#projets p {
    margin-bottom: 25px; 
    color: black;  
}

#projets-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}    

.projet-card img {
    border-radius: 25px;
}

/* page 2 css */

/* section 1 */

#cv {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 2% 0 16%;
    /* width: 1000px; */
}

#cv img {
    height: 400px;
}

.card-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 25px;
    gap: 50px;
    background-color: white;
    border-radius: 25px;
    width: 70%;

}

.pair {
    background-color: #6D5959;
    color: #F6F0EB;
}

.white {
    color: white;
}

.card-exp .exp-left p {
    margin: 10px 0;
}


/* section 2 */

#education {
    background-color: #6D5959;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-educ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 25px;
    gap: 40px;
    background-color: white;
    border-radius: 25px;
    width: 70%;

}

.card-educ:hover {
    transform: scale(1.05);
}

.card-educ .educ-left {
    width: 90%;
}

.brown {
    background-color: #E7D8C9;
}

.card-educ .educ-left p {
    margin: 10px 0;
}

.card-educ .educ-paragraph {
    width: 100%;
}

#education img {
    height: 400px;
}

/* section 3 css */

#competences {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#competences img {
    height: 75px;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

#competences img:hover {
    transform: scale(1.15);
}

#competences a {
    background-color: #6D5959;
    color: #F6F0EB;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(460px);
    transition: all 0.2s ease-in-out;
}

#competences a:hover {
    font-weight: bold;
}

/* footer css */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    height: 150px;
}

#top {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#bottom a {
    text-decoration: none;
    color: #6D5959;
    transition: all 0.2s ease-in-out;
} 


footer img {
    width: 40px;
    transition: all 0.2s ease-in-out;
}

#footer-links {
    display: flex;
    gap: 20px;
}

.light-brown {
    background-color: #F6F0EB;
}

footer a:hover {
    font-weight: bold;
}

footer img:hover {
    transform: scale(1.15);
}